<div id="RDB">
  <div class="page-wrapper">
    <header class="header header-minimal">
      <div class="header-statusbar">
        <div class="header-statusbar-inner">
          <div class="header-statusbar-left">
            <h1>YURA RDB Admin Portal</h1>
          </div>
          <!-- /.header-statusbar-left -->
        </div>
        <!-- /.header-statusbar-inner -->
      </div>
      <!-- /.header-statusbar -->
    </header>
    <!-- /.header -->
    <div class="main">
      <div class="outer-admin">
        <div class="wrapper-admin">
          <!-- /.sidebar-admin-->
          <div class="sidebar-secondary-admin">
            <ul>
              <li class="active">
                <a href="database">
                                <span class="icon"><i class="fa fa-tachometer"></i></span>
                                <span class="title">Database</span>
                                <span class="subtitle">See the listings</span>
                            </a>
              </li>

              <li>
                <a href="analytics">
                                <span class="icon"><i class="fa fa-line-chart"></i></span>
                                <span class="title">Analytics</span>
                                <span class="subtitle">See how RDB is doing</span>
                            </a>
              </li>

              <li>
                <a href="listings">
                                <span class="icon"><i class="fa fa-table"></i></span>
                                <span class="title">Edit Listings</span>
                                <span class="subtitle">Default table style</span>
                            </a>
              </li>
            </ul>
          </div>
          <!-- /.sidebar-secondary-admin -->
          <div class="content-admin">
            <div class="content-admin-wrapper">
              <div class="content-admin-main">
                <div class="content-admin-main-inner">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="col-sm-12">



                          </div>
                          <!-- /.col-* -->
                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.col-* -->

                    </div>
                  </div>
                  <!-- /.container-fluid -->
                </div>
                <!-- /.content-admin-main-inner -->
              </div>
              <!-- /.content-admin-main -->
            </div>
            <!-- /.content-admin-wrapper -->
          </div>
          <!-- /.content-admin -->
        </div>
        <!-- /.wrapper-admin -->
      </div>
      <!-- /.outer-admin -->
    </div>
    <!-- /.main -->
  </div>
