<div id="welcome-block">
    <p>Psst! Welcome to the RDB version 2.0, to be publicly released this week!</p>
    <i class="fa fa-times" id="close-welcome"></i>
</div>
<div class="page-wrapper">
    <div class="main" id="indexmain">
        <div class="main-inner">
            <div class="content">

                <div class="mt-80">
                    <div class="hero-image">
                        <div class="hero-image-inner" style="background-image:url(images/background.jpg);">
                            <div class="hero-image-content">
                                <div class="container" id="learnmore">
                                    <h1>YURA Research Database</h1>
                                    <p><strong>1400+</strong> Faculty listings. <strong>60+</strong> Fields of study. Endless opportunities.<br>Powered by the <strong>Yale Undergraduate Research Association</strong></p>
                                    <a id="listings" href="/users" class="btn btn-primary btn-lg">Log In</a>
                                    <a href="#content" class="btn btn-secondary btn-lg">Learn More</a>
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.hero-image-content -->

                            <div class="hero-image-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-8">
                                        </div>
                                        <!-- /.col-* -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.container -->
                            </div>
                            <!-- /.hero-image-content -->
                        </div>
                        <!-- /.hero-image-inner -->
                        <img src="/images/learnmore.png" alt="learn more" id="learn-more-arrow" />
                    </div>
                    <!-- /.hero-image -->
                </div>
                <div class="container" id="content">
                    <div class="block fullwidth" id="maintext">
                        <div class="page-header">
                            <h1>About the Database</h1>
                            <p>Interested in research? Find out more about Yale’s faculty through RDB!</p>
                        </div>
                        <!-- /.page-header -->

                        <div class="posts post-detail post-info-rdb">
                            <div class="post-content">
                                <p><strong>The Research Database (RDB)</strong> is created by the <strong>Yale Undergraduate Research Association (YURA)</strong> as a cross-disciplinary database of Yale faculty with profile and research information. With department filters and keyword search functions, the database is a collection of information about faculty members from all departments at Yale. It aims primarily to provide Yale students of any disciplines a convenient, user-friendly, and more intuitive platform to find out about the work of faculty at Yale and look for potential research mentors.</p>
                                <p>RDB is meant to be an integrated springboard for learning about and connecting with faculty. After looking for interesting faculty members, do go to their websites and reach to them via email to learn more about them and their research!</p>
                                <p>If you are looking for more resources and information about undergraduate research, fellowships, and other related events, we eagerly encourage you to take a look at <a href="http://yura.yale.edu" target="_blank">YURA's website</a>!</p>
                                <br/>
                                <h3>How to Use</h3>
                                <p>Log in to the listings through the "Log In" button above. On the listings page, you can find, for each faculty member, their:</p>
                                <ul>
                                    <li>Name</li>
                                    <li>Email</li>
                                    <li>Website</li>
                                    <li>Affiliated departments, programs and/or schools</li>
                                    <li>A brief description of their work and research</li>
                                </ul>
                                <p>To learn more about them, click on the name or "Go to website" to access the faculty members' webpage.</p>
                                <p>Also,</p>
                                <ul>
                                    <li>Use the keyword search box to search for names or keywords in descriptions</li>
                                    <li>Use the “Departments” box to filter the list by their affiliated departments and programs</li>
                                    <li>Click on "Clear" to remove the searches and filters</li>
                                    <li>We now have a "Favorites" function! Add specific professors to "Favorites" to keep track of their listing. Bookmarked professors will always be shown at the top of search results.</li>
                                </ul>
                            </div>
                            <!-- /.post-content -->
                        </div>
                    </div>

                    <div class="block fullwidth" id="testimonial-page">
                        <div class="page-header">
                            <h2>Testimonials</h2>
                            <p>Read what others say about RDB!</p>
                        </div>
                        <div id="testimonials">
                            <blockquote class="boxMD" id="testimonials-item">
                                <footer>
                                    <p></p>
                                    <cite></cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>

                    <div class="block background-black-light fullwidth fullwidthMD" id="sellingblock">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="box">
                                    <div class="box-icon">
                                        <i class="fa fa-mouse-pointer"></i>
                                    </div>
                                    <!-- /.box-icon -->

                                    <div class="box-content">
                                        <h2>Intuitive</h2>
                                        <p>Made by Yalies, made for Yalies.</p>
                                    </div>
                                    <!-- /.box-content -->
                                </div>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <div class="box">
                                    <div class="box-icon">
                                        <i class="fa fa-map"></i>
                                    </div>
                                    <!-- /.box-icon -->

                                    <div class="box-content">
                                        <h2>Comprehensive</h2>
                                        <p>All undergraduate departments and programs included, and more.</p>
                                    </div>
                                    <!-- /.box-content -->
                                </div>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <div class="box">
                                    <div class="box-icon">
                                        <i class="fa fa-rocket"></i>
                                    </div>
                                    <!-- /.box-icon -->

                                    <div class="box-content">
                                        <h2>Up to date</h2>
                                        <p>Updated by faculty. All round support by YURA.</p>
                                    </div>
                                    <!-- /.box-content -->
                                </div>
                            </div>
                            <!-- /.col-sm-4 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.block -->

                    <div class="block fullwidth">
                        <div class="page-header">
                            <h2 id="faqhead">Frequently Asked Questions</h2>
                        </div>
                        <!-- /.page-header -->

                        <div class="faq">

                            <div class="faq-item">
                                <div class="faq-item-question">
                                    <h3>Is this database for STEM students only?</h3>
                                </div>
                                <!-- /.faq-item-question -->

                                <div class="faq-item-answer">
                                    <p>
                                        No! RDB is made for Yalies of all disciplines, and faculty listed in RDB spans across all of Yale's departments. We believe students in all disciplines would find a research database useful.
                                    </p>
                                </div>
                                <!-- /.faq-item-answer -->
                            </div>
                            <!-- /.faq-item -->

                            <div class="faq-item">
                                <div class="faq-item-question">
                                    <h3>Where do the listings come from? Are they accurate?</h3>
                                </div>
                                <!-- /.faq-item-question -->

                                <div class="faq-item-answer">
                                    <p>
                                        All listings on RDB are taken from publicly available information about faculty in respective department websites, unless faculty members themselves specifically requested to add, remove, or edit their entries.
                                    </p>
                                </div>
                                <!-- /.faq-item-answer -->
                            </div>
                            <!-- /.faq-item -->

                            <div class="faq-item">
                                <div class="faq-item-question">
                                    <h3>Is this database available to the public?</h3>
                                </div>
                                <!-- /.faq-item-question -->

                                <div class="faq-item-answer">
                                    <p>
                                        No, only users with valid Yale NetID authentication are able to access the database.
                                    </p>
                                </div>
                                <!-- /.faq-item-answer -->
                            </div>
                            <!-- /.faq-item -->

                            <div class="faq-item">
                                <div class="faq-item-question">
                                    <h3>Why are certain faculty members listed/unlisted?</h3>
                                </div>
                                <!-- /.faq-item-question -->

                                <div class="faq-item-answer">
                                    <p>
                                        All RDB entries are collected from faculty listings in undergraduate and graduate department websites. We apologize if a department or faculty member was missed.
                                    </p>
                                    <p>
                                        If you are faculty member and you would like to see yourself listed or removed, please fill out <a href="https://goo.gl/forms/DrwFE76LcZJY57mr1" target="_blank">this simple request form</a>, or email us directly
                                        at <a href="mailto:yura@yale.edu">yura@yale.edu</a>.
                                    </p>
                                </div>
                                <!-- /.faq-item-answer -->
                            </div>
                            <!-- /.faq-item -->

                            <div class="faq-item">
                                <div class="faq-item-question">
                                    <h3>I am a faculty member, and I want to edit my listing.</h3>
                                </div>
                                <!-- /.faq-item-question -->

                                <div class="faq-item-answer">
                                    <p>
                                        We welcome updates and changes to the listings. <a href="https://goo.gl/forms/DrwFE76LcZJY57mr1" target="_blank">Send us a simple request form</a> or send us an email at <a href="mailto:yura@yale.edu">yura@yale.edu</a> and we will process it at our earliest convenience.
                                    </p>
                                </div>
                                <!-- /.faq-item-answer -->
                            </div>
                            <!-- /.faq-item -->

                            <div class="faq-item">
                                <div class="faq-item-question">
                                    <h3>I found bugs/I have suggestions for the database.</h3>
                                </div>
                                <!-- /.faq-item-question -->

                                <div class="faq-item-answer">
                                    <p>
                                        Let us know! Send us a message through the <a href="/feedback">feedback form</a> or send us an email at <a href="mailto:yura@yale.edu">yura@yale.edu</a> and we will respond as soon as we can.
                                    </p>
                                </div>
                                <!-- /.faq-item-answer -->
                            </div>
                            <!-- /.faq-item -->

                        </div>
                        <!-- /.faq -->
                    </div>

                    <div class="block background-secondary fullwidth fullwidthMD" id="response-block">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="contact-info-wrapper">
                                    <div class="contact-head">
                                        <h2>Questions? Thoughts?</h2>
                                    </div>

                                    <div class="contact-info">
                                        <span class="contact-info-item">
                                        <a href="/feedback" target="_self">
                                            <i class="fa fa-paper-plane-o"></i>
                                            <span>Send feedback</span>
                                        </a>
                                        </span>

                                        <span class="contact-info-item">
                                        <a href="mailto:yura@yale.edu" target="_blank">
                                            <i class="fa fa-at"></i>
                                            <span>Email</span>
                                        </a>
                                        </span>
                                        <!-- /.contact-info-item -->

                                        <span class="contact-info-item">
                                        <a href="https://www.facebook.com/yaleundergradresearch/" target="_blank">
                                            <i class="fa fa-facebook"></i>
                                            <span>Facebook</span>
                                        </a>
                                        </span>
                                        <!-- /.contact-info-item -->
                                    </div>
                                    <!-- /.contact-info-->
                                </div>
                                <!-- /.contact-info-wrapper -->
                            </div>
                            <!-- /.col-* -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.main-inner -->
    </div>
    <!-- /.main -->
