/* Custom additional CSS for listings page */
/*--------------------------------------------------------------------------
GPL statement:
This file is part of RDB.

RDB is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

RDB is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with the RDB code.  If not, see <http://www.gnu.org/licenses/>.
--------------------------------------------------------------------------*/

/* General layout and appearance */
.document-title {
	margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.document-title>h1 {
	display: inline;
	text-align: left;
	font-size: 32px;
}
/*#home-arrow {
	margin-right: 10px;
	margin-left: 10px;
}
#home-arrow-link {
	border-radius: 6px;
	background-color: rgba(255,255,255,0.1);
}
#home-arrow-link:hover {
	background-color: rgba(255,255,255,0.2);
}*/
@media (max-width: 767px) {
    .document-title>h1 {
        font-size: 27px;
    }
 }
@media (max-width: 450px) {
    .document-title>h1 {
        font-size: 22px;
    }
}
@media (max-width: 350px) {
    .document-title>h1 {
        font-size: 17px;
    }
}
#about {
    text-align: right;
    width: auto;
    float: right;
    z-index: 5;
    /*margin: 0;
    line-height: 35.2px;*/
}
#about>a {
    color: #fff;
}
.background-secondary, .faq-item:before {
    background-color: #0f74aa;
}
a:focus {
	text-decoration: none;
}
form#filter {
	margin-bottom: 20px;
	background-color: #103850;
}
#resultcount {
	font-size: 14px;
	color: #C0C0C0;
	border: none;
	line-height: 45px;
	margin: 0px;
}
#button-row {
	margin-top: 20px;
}

/* Loading and warning */
#loader p {
	font-size: 26px;
	font-weight: 400;
	color: #009f8b;
	text-align: center;
	line-height: 60px;
}
#login-warning {
	font-size: 120%;
	text-align: center;
}

/* Head */
#home>a {
	color: #fff;
}

/* Listings (general) */
.list {
    padding: 0;
    list-style-type: none;
}
.list li, #filter {
    margin-bottom: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
.list div:hover {
	background-color: #FAFDFE;
}
.list div {
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}
.card-row-title {
	font-weight: 600;
}

/* Listing items */
.card-row-title a {
	font-size: 120%;
}
.card-row-properties dd {
	margin-right: 8px;
}
.list .card-row, .list .card-row div, .list li, #filter{
	border-radius: 4px;
}
.website, .email {
	word-wrap: break-word;
	word-break: break-all;
}
dt span.departments, .email {
	line-height: 1.42857;
}
dt span.departments > span, .email {
	display: block;
	padding-top: 9.5px;
	padding-bottom: 9.5px;
}
.listing-buttons {
	height: 107.5px;
}
.weblink-button {
	color: #fff !important;
	margin-bottom: 7.5px;
	background-color: #397fef;
}
.headout-chev {
	font-size: 80%;
}
mark {
  background-color: #a0f6fa;
  color: inherit;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
}
.fav-form .remFav, .fav-form .addFav, .weblink-button {
    width: 100%;
    float: right;
    clear: right;
    height: 37px;
}
@media (max-width: 1000px) and (min-width: 650px) {
    .fav-form .remFav, .fav-form .addFav, .weblink-button {
        width: 40%;
    }
}
.fav-form .remFav, .fav-form .addFav {
	color: #FFFFFF;
	border: none;
}
.fav-form .remFav {
	background-color: #CE962A;
}
.fav-form .addFav {
	background-color: #279678;
}
.fav-form {
	height: 40px;
}
.depts-text {
    display: inline-block;
    width: 60%;
    line-height: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
}

/* Buttons and filters */
#searchbox, #deptDropdown .dept-input {
	border: none;
	background-color: rgba(255,255,255,0.70);
	margin-top: 5px;
	border-radius: 3px;
	color: #181818;
	box-shadow: none;
}
#searchbox:focus {
	background-color: rgba(255,255,255,0.95);
}
#searchbox::placeholder {
	color: #000;
}
#deptDropdown .dept-input {
	line-height: 28px;
	cursor:pointer;
}
#query-button-block {
    display: block;
    overflow: auto;
}
.query-buttons {
	display: inline-block;
	float: right;
	color: #fff;
	padding: 9px 15px;
	text-align: center;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 15px;
    white-space: nowrap;
    overflow: visible;
    width: 140px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    -webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
@media (max-width: 991px) and (min-width: 767px) {
    .query-buttons {
        width: 140px !important;
    }
    #query-button-block, .query-buttons {
        width: 100%;
    }
}
@media (max-width: 570px) {
    .query-buttons {
        clear: right;
    }
    #query-button-block, .query-buttons {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }
}
.filter-actions {
	height: 37px;
}
#reset-button-id {
	background-color: #B51E00;
}
#letsgo {
	background-color: #208699 !important;
}
#show-favs {
    background-color: #C08C00 !important;
}
.query-buttons .fa, .query-buttons:hover, .query-buttons::selection {
	color: #fff !important;
}
#reset-button-id::selection {
	background-color: transparent;
}

.description {
  line-height: 1.6em;
  display: block;
  overflow: hidden;
}

/* Pure CSS truncation with toggle */
.truncateme .desc-text {
	line-height: 1.6em;
	display: block;
	overflow: hidden;
}
.hiddentrig ~ .desc-text {
	max-height: 6.4em;
}
.hiddentrig:checked ~ .desc-text {
	max-height: 999em;
}
.hiddentrig ~ .show-text:before {
	content: 'Show more';
}
.hiddentrig:checked ~ .show-text:before {
	content: 'Show less';
}
.show-text {
	cursor: pointer;
	display: block;
	background-color: #539CCF;
	width: 100px;
	line-height: 25px;
	font-size: 13px;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	margin: 10px 0 10px auto;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.4);
	-webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}
.hiddentrig:checked ~ .show-text {
	background-color: #81A6BC;
}


/* Pagination nav bar */
.pager {
	margin-top: 30px;
	margin-bottom: 60px;
	padding: 20px 0;
}
@media (max-width: 490px) {
	.pager ul {
		display: block;
		margin-top: 6px;
		margin-bottom: 6px;
	}
}
.pager li {
	margin: 0;
	display: inline-block;
}
.pager .pagination li a {
	padding: 4px 6px;
	width: 28px;
	border: none;
	border-radius: 2px !important;
	margin: 2px;
    float: none !important; /* Fix pagination weird spacing */
    box-shadow: 0 1px 4px rgba(0,0,0,0.3) !important;
}
@media (min-width: 650px) {
	.pager .pagination li > a {
		padding: 8px 10px;
		width: 45px;
		font-size: 120%;
	}
}
.pager .disabled, .pager .disabled a, .pager .disabled a:hover {
	cursor: default !important;
	background: transparent;
}
.pager a::selection, .pager span::selection, #prev::selection, #next::selection, .pager::selection {
	background: transparent !important;
	color: inherit;
}
#prev, #next {
	width: 60px;
	margin: 3px auto;
	height: 35px;
	background-color: #008675;
	border-radius: 17.5px;
	cursor: pointer;
	color: #fff;
	display: inline-block;
	-webkit-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
	text-align: center;
	white-space: nowrap;
	box-shadow: 0 1.25px 5px rgba(0,0,0,0.4);
}
#prev .fa, #next .fa {
	color: #fff;
	font-size: 15px;
	padding: 10px;
}
@media (min-width: 490px) {
	span#prev {
		margin-right: 3%;
	}
	span#next {
		margin-left: 3%;
	}
}
span#prev:hover, span#next:hover {
	box-shadow: 0 1.5px 6px rgba(0,0,0,0.4);
}
